certifi==2018.4.16
click==6.7
pandas==0.22.0
SQLAlchemy==1.2.10
Flask-Cors==3.0.3
Flask-PyMongo==2.1.0
Flask-SQLAlchemy==2.3.2
numpy==1.14.4
numpydoc==0.7.0
wincertstore==0.2
Werkzeug==0.14
Jinja2==2.10
itsdangerous==0.24

